modules = ["nodejs-24", "postgresql-16", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BNxUckKwKUN9Sk8xfhwZwADNOrSdBRVSkOUkz2c31uZ0_VICVXlFRkHFfEgqu3ndWoJVkTxx15GyB3c0E1M5gAQ"
VAPID_PRIVATE_KEY = "JVdOOvbBprOYzUKz7FvrhDDCOLtHxrKPRkWh-NlgbfU"
VAPID_EMAIL = "mailto:fitcheck@app.local"

[nix]
channel = "stable-25_05"
